.button{
    margin-top: 10px;
    border-radius: 10px;
    width: 153px;
    margin: 0 auto;
    padding: 10px;
    color: #ffff;
    background-color: #e74c3c;
    border: #d72c19 1px solid;
    &--text{
        font-size: 22px;
        padding-right: 6px;
    };
    &--cart{
        color: #ffff;
    };
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper{
    margin-top: 10px;
}